


/* Contenedores generales*/
body{
    background-image: url("../../ImagenesPrincipal/brawlLobbyBackground.jpg");
}

/* Estilos adicionales */
@font-face {
  font-family: nougat;
  src: url(../../Fuentes/nougat/Nougat-ExtraBlack.ttf);
}
@font-face {
  font-family: LilitaOne;
  src: url(../../Fuentes/Lilita_One/LilitaOne-Regular.ttf);
}   
    
  .titulo{
    text-align: center;
    color:#fcfcfc;
    font-size: 38px;
    font-family: LilitaOne;
  }
  .volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: LilitaOne;
  }

  .buttons{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding: 100px;
    align-items: center;
    flex-direction: column;
    margin: 6em auto;
    width: 60%;
    height: auto;
  }

  .buttons img {
    display: flex;
    justify-content: flex-start;
    width: 110px;
    height: auto;
    padding: 2%;
  }

  .bCrud {
    /* Cambios para centrar el texto y hacerlo más grande */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-color: #1da1f2;
    border-radius: 30px;
    width: 800px;
    font-family: nougat;
    margin: 10px 0; /* Separación vertical de 10px */
  }

.bCrud h2 {
    font-size: 24px;
}
  
  /* Enlaces */
  a {
    display: flex;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    justify-content: center;
  }
  
  
  /* Footer */ 
  footer {
    margin-top: 0;
    background-color: #333;
    opacity: 0.9;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .quienesSomos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 5px;
  }
  
  .redes-sociales a {
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    transition: color 0.2s ease-in-out;
  }
  
  .redes-sociales a:hover {
    color: #1da1f2;
  }
  
  footer img{
    width: 4%;
    margin-top: -20px;
    height: auto;
    float: right;
    margin-left: 20px;
  }